.header-container {

    display: flex;

    .header-logo-container{
        flex-grow: 1;

        span {
            display:block;
        }
        .heading-main{
            font-size:20px;
            font-weight:900;
        }
        .heading-description{
            font-size:15px;
        }
    }


    .header-menuitems{
        display:flex;
    }

    .menu-icon {
        display:none;
    }

    nb-list-item {
        border:0px;
        cursor:pointer;
        border:1px solid #222b45;
        transition: 0.2s all ease-in-out;
    }

    nb-list-item:hover{
        border:1px solid #fff;
        box-shadow: 0px 0px 11px 3px rgba(76,95,153,0.9);
        -webkit-box-shadow: 0px 0px 11px 3px rgba(76,95,153,0.9);
        -moz-box-shadow: 0px 0px 11px 3px rgba(76,95,153,0.9);
    }
}

@media screen and (max-width: 768px) {
    .header-container {
        .header-logo-container{
            .heading-description{
                display:none;
            }

            .heading-main{
                margin-top:15px;
            }
        }

        .menu-icon{
            display:block;
            width: 35px;
            height: 35px;
            margin-top: 5px;
            cursor:pointer;
        }

        .header-menuitems{
            display:none;
        }

        .header-menuitems-mobile{
            display: block;
            position: fixed;
            /* height: min-content; */
            min-width: 250px;
            z-index: 1041;
            right:0;
            top:0;
            height: 100%;
            box-shadow: var(--header-shadow);
            background: #222b45;

            nb-list-item{
                text-align: center;

                span{
                    display: block;
                    margin: 0 auto;
                }
            }

            .mobile-close-menu{
                position: absolute;
                right: 0;
                margin: 10px;
                cursor:pointer;
            }

            .margin-large{
                margin-top:45px;
            }
        }
    } 



}