<div class="hello-container"> 
    <div class="profile-container">
        <div class="profile-info">
           <div class="profile-texts"><h2>KEEP ON DANCING</h2></div> 
           <div class="profile-texts"><h2> Let's Make it a Night to Remember </h2></div>
        </div>
    </div>
    
    <div class="background-container">
        <video src="../../../assets/djvideo.mp4" nocontrols autoplay loop poster="../../../assets/0b340f_4acffeaaa82c49f0963303c4d1bdadfcf000.jpeg">
        </video> 
    </div> 

</div>

<app-whyhire></app-whyhire>
<app-services></app-services>
<app-gallary></app-gallary>
<app-pricing></app-pricing>
<app-reviews></app-reviews>
