<nb-layout>
    <nb-layout-header fixed>
        <app-header></app-header>
    </nb-layout-header>
  
    <nb-layout-column class="main-container" style="padding:0px">
      <router-outlet></router-outlet>
      <app-whatsappbtn></app-whatsappbtn>
    </nb-layout-column>
    <nb-layout-footer id='contact'>
      <app-contact></app-contact>
    </nb-layout-footer>
</nb-layout>

<!-- https://wa.me/+917010347521
reference  - https://www.wix.com/website-template/view/html/2304?siteId=4307e350-614d-43c2-9b64-e5952dcdec42&metaSiteId=a9ae9b29-1fc2-4715-bbd5-379b9a3a7c11&originUrl=https%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fmusic%2Fdj-and-producer&tpClick=view_button 
reference 2 - https://akveo.github.io/nebular/docs/components/sidebar/api#nbsidebarcomponent#Inputs
https://medium.muz.li/ui-interactions-of-the-week-293-ad2f9d1b777a

-->