<div class="whyhire-container" id="whyhire"> 
    <div class="text-container" [ngsReveal]="{ reset: true}"> 
        <h2>Why hire us?</h2>
    </div>
    <nb-card size="medium" [ngsReveal]="{ reset: true}">
        <nb-card-body >
          <nb-stepper orientation="horizontal">
            <nb-step label="Music" [ngsReveal]="{ reset: true}">
              <h4>Music Selection</h4>
              <p class="lorem">
                Our professional DJ keeps a staggeringly large library of music that they can draw on to create different playlists. 
                This makes them invaluable when you want to play songs from a mix of genres, countries, and eras. 
                With this broad selection also comes the DJ’s professional opinion and assessment when discussing playlist options. 
                DJ can suggest song ideas that work well with your desired tracks, and they can even find specific versions of a song if you desire.
              </p>
              <!-- <button nbButton disabled nbStepperNext>prev</button>
              <button nbButton nbStepperNext>next</button> -->
            </nb-step>
            <nb-step label="Equipment" [ngsReveal]="{ reset: true}">
              <h4>Equipment & Lighting</h4>
              <p class="lorem">
                Our DJ comes with professional equipment. This means speakers capable of producing clear sound without distortion, 
                microphones, soundboards, and other important tools of top-end quality.
              </p>
              <p class="lorem">
                Additionally, professional DJs know how this high-end equipment works and can set up and run it without any risky “breaking-in” period. In the rare event that some sort of technical issue does arise, it’s likely that a 
                professional DJ will have a backup plan in place to quickly repair or minimize any disruption.
              </p>
              <!-- <button nbButton nbStepperPrevious>prev</button>
              <button nbButton nbStepperNext>next</button> -->
            </nb-step>
            <nb-step label="Experience" [ngsReveal]="{ reset: true}">
              <h4>Memorable Experience</h4>
              <p class="lorem">
                Our DJ can keep the momentum going throughout the entire event. They are able to switch from one song to another in a fluid way so that there are no gaps of dead air or awkward rhythm transitions. They also are able to read the crowd to know when it needs a slower pace or faster one. 
              </p>
              <p class="lorem">
                DJ will also be able to take requests from guests that are appropriate with your desired theme and mood of the event. Be sure to discuss your expectations with the DJ
              </p>
              <!-- <button nbButton nbStepperPrevious>prev</button>
              <button nbButton disabled nbStepperNext>next</button> -->
            </nb-step>
            <nb-step label="Value" [ngsReveal]="{ reset: true}">
                <h4>Value for Money</h4>
                <p class="lorem">
                    For guests, the most important aspects of a wedding include the ceremony, food, and reception. Although more expensive than hiring a friend or amateur, a our professional DJ can guarantee the reception will be a fun time. 
                    You won’t find yourself regretting your choice once you see how much fun your guests are having. You get what you pay for when you do your research well and choose a DJ company that you connect with.
                </p>

                <!-- <button nbButton nbStepperPrevious>prev</button>
                <button nbButton disabled nbStepperNext>next</button> -->
              </nb-step>
          </nb-stepper>
        </nb-card-body>
      </nb-card>
</div>
